<div class='row'>
	<div class='span5'>
		<form>
			<div id="status" class='alert hide'></div>
			
			<div class="row">
				<div class="controls">
					<label>Username : </label>
					<input type="text" class="span4" placeholder="Enter username." value="{{username}}" id="username" />
				</div>
			</div>		
			<div class="row">
				<div class="controls">
					<label>Password : </label>
					<input type="password" class="span3" placeholder="Enter new password." id="password" />															
				</div>				
			</div>
						
			<div class="row">				
				<button class="btn btn-primary" type="submit" id="btnLogin">Log In</button>				
			</div>
			
		</form>
	</div>
		
	<div class='offset5'>
		<h2>Hello, welcome to Leon's Hotel Management System. <sup class='text-warning'><small>Ver 1.0</small></sup></h2>
		<p>
			This system handles room and guest management, reservations, room charges, payments, room availability, and user management.
		</p>
		<p>
			You can generate the following reports : 
			<ul>
				<li>List of Reservations</li>
				<li>List of Check-Ins</li>
				<li>Folio Record</li>
				<li>List of Payments Received from Guests</li>
			</ul>
		</p>
		<p class='text-info'><i class='icon-hand-left'></i> Use the form on the left to log in and start using the system.</p>
		<p>
			This application has been tested and is intended for use with the following browser/s :<br />
			<img src='img/chrome.jpg' title='Google&trade; Chrome (25.0.1364.160)+' style='width: 60px;' />			
			<img src='img/firefox.jpg' title='Mozilla&trade; Firefox (21.0)+' style='width: 60px;' />			
			<img src='img/ie.png' title='Microsoft&trade; Internet Explorer (9.0)+' style='width: 60px;' />			
		</p>
		<p class='muted'>
			<small>
				The Leon's Hotel Management System (LHMS) was developed by <strong>Aman Jake de Leon Adriano</strong>, a freelance software and web developer.
				<ul>
					<li><i class='icon-signal'></i> 09184030903 </li>
					<li><i class='icon-envelope'></i> <a href='mailto: secondrnd@gmail.com'>secondrnd@gmail.com</a></li>
					<li><i class='icon-globe'></i> <a href='http://2ndrnd.co.nr' target='_blank'>2ndRnd.co.nr</a></li>
				</ul>
			</small>
		</p>
	</div>
</div>
