
<div class='row' id='mainControls'>
	<h1>Reports</h1>
	<button class='btn' id='btnReservations'>Reservations</button>
	<button class='btn' id='btnCheckins'>Check-ins</button>
	<button class='btn' id='btnCollections'>Collections</button>
<!--
	<button class='btn' id='btnRoomUsage'>Room Usage</button>
-->
</div>


<div class='row' style='padding: 10px 0px;'>
	<div id='divControls' class='form-inline well'>
		<div><p id='pReport'><strong>Choose A Report To View</strong></p></div>
		Date From : <input type='text' id='dFrom' class='span2' />
		To : <input type='text' id='dTo' class='span2' />
		<button id='btnRefresh' class='btn btn-success'>View <i class='icon-eye-open'></i></button>
		<button id='btnPrint' class='btn btn-info'>Print <i class='icon-print'></i></button>
	</div>
</div>

<div id='divReports'>
</div>
