<div class="form-horizontal">		
	<div class='span3 well text-center'>			
		<button type="button" class="btn btn-primary" id="btnNew">New Reservation <i class='icon-home'></i></button>				
	</div>
	<div id="divFilter" class='well span7'>										
		<span class="label label-info">Starting Date </span>
		<input type='text' id='cinFrom' class='span2' />
		<button class='btn' id='btnToday'>Show Today</button>
		<button class='btn btn-success' id='btnRefresh'>Refresh</button>				
		<button class='btn btn-info' id='btnPrint'>Print <i class='icon-print'></i></button>				
	</div>
</div>

<div class='row'>
	<p>
	<button class='btn offset1' id='btnPrev'>Back <i class='icon-backward'></i></button>
	<button class='btn offset8' id='btnNext'>Next <i class='icon-forward'></i></button>		
	</p>
</div>

<table class="table table-striped table-hover table-bordered" id="blockings" cellpadding='0'>
	<thead></thead>
	<tbody></tbody>
</table>
