	<td align='left' width='10%'>
		<input type='text' id='roomNo' value='{{roomNo}}' style="width: 100%;"  />
	</td>
	<td align='left' width='30%'>
		<input type='text' id='description' value='{{description}}' style="width: 100%;"  />
	</td>
	<td align='left' width='20%'>
		<input type='text' id='roomType' value='{{roomType}}' style="width: 100%;"  />
	</td>
	<td align='left' width='20%'>
		<input type='text' id='price' value='{{toDecimal price}}' style="width: 100%;"  />
	</td>
	<td align='right'>
		<button id='btnCancel' class='btn'>Cancel</button>
		<button id='btnSave' type='submit' class='btn btn-primary'>Save</button>
	</td>
